<!-- Using the width of inner bar to represent the progress -->
<div class="progress-bar bg-skyblue">
  <div class="bar bg-mintcream" [ngStyle]="{'width': widthProgress + 'px'}"></div>
</div>

<div class="progress-bar bg-skyblue">
  <div class="bar bg-mintcream" [ngStyle]="{'width': widthProgress + 'px'}"></div>
</div>

<div class="progress-bar bg-skyblue">
  <div class="bar bg-mintcream" [ngStyle]="{'width': widthProgress + 'px'}"></div>
</div>

<div class="progress-bar bg-skyblue">
  <div class="bar bg-mintcream" [ngStyle]="{'width': widthProgress + 'px'}"></div>
</div>

<!-- Using the flex-basics of inner bar to represent the progress -->
<div class="flex-pro-bar bg-skyblue">
  <div class="wrapper">
    <div class="triangle"></div>
    <div class="bar bg-mintcream" [ngStyle]="{'flex-basis': flexBasisProgress + '%'}"></div>
  </div>
</div>

<div class="flex-pro-bar bg-skyblue">
  <div class="wrapper">
    <div class="triangle"></div>
    <div class="bar bg-mintcream" [ngStyle]="{'flex-basis': flexBasisProgress + '%'}"></div>
  </div>
</div>

<div class="flex-pro-bar bg-skyblue">
  <div class="wrapper">
    <div class="triangle"></div>
    <div class="bar bg-mintcream" [ngStyle]="{'flex-basis': flexBasisProgress + '%'}"></div>
  </div>
</div>

<div class="flex-pro-bar bg-skyblue">
  <div class="wrapper">
    <div class="triangle"></div>
    <div class="bar bg-mintcream" [ngStyle]="{'flex-basis': flexBasisProgress + '%'}"></div>
  </div>
</div>